# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xm



data/google_finance/
data/generated_data/
data/nasdaq_f_l/
data/nasdaq_clean_a/
save/


# Ignorar pastas comuns
__pycache__/
.idea/